@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Cal+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cabin-regular {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

H1, H2, H3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

H4, H5, H6 {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-item {
  font-family: "Cal Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.toc-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/*
body {
    margin: 1em;
}

.active a {
    color: red;
    font-weight: bold;
}
*/
