
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="{{ "img/cpgis-logo.png"|url }}" alt="CPGIS logo" style="width:150px; height:auto; max-height:100px;">
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">

            {% for nav_item in nav %}
            {% if not nav_item.children %}
            <a class="navbar-item is-size-3" href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>
            {% else %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-size-3">
                {{ nav_item.title }}
                </a>
                <div class="navbar-dropdown">
                {% for nav in nav_item.children %}
                <a class="navbar-item is-size-4">
                    {{ nav.title }}
                </a>
                {% endfor %}
                </div>
            </div>
            {% endif %}

            {% endfor %}
          </div>
        </div>
      </div>
